@font-face {
  font-family: 'Decker';
  src: url('./font/Decker.ttf.woff') format('woff'),
    url('./font/Decker.ttf.svg#Decker') format('svg'),
    url('./font/Decker.ttf.eot'),
    url('./font/Decker.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.App {
  display: grid;
  grid-template-rows: 10vh 1fr 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
}

h1 {
  font: 600 2.5rem/2.9rem Decker;
  letter-spacing: 1.3px;
  white-space: nowrap;

  span {
    color: #506473;
  }
}

p {
  font: 1rem/1.5rem Open sans;
  color: #506473;
}

.cta-link {
  margin-top: 2rem;
  border-bottom: 3px solid #c0345e;
  width: fit-content;

  a {
    font: 700 0.9rem/1.6rem Open Sans;
    color: #000;
    text-decoration: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.7s;

  &:hover,
  &:active {
    transform: translateY(-3px);
  }
}
