#blog {
  background: #edeff1;
  display: grid;
  grid-template-rows: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-gap: 2rem;
  padding: 5vh 10vw;

  .back-arrow {
    height: 0.1em;
    width: 0.1em;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(135deg);
    vertical-align: middle;

    &:hover,
    &:active {
      transform: rotate(135deg) translateX(4px) translateY(4px);
    }
  }

  article {
    background: #fff;
    padding: 3rem;
    box-shadow: 6px 6px 10px 0px #ccc;

    h2 {
      font: 1.5rem/3rem Open sans;
    }
  }
}
